<section class="sec-story bg0 p-t-150 p-b-100">
    <div class="container">
        <div class="flex-w flex-sb-t">
            <div class="size-w-31 wrap-pic-w how-shadow2 bo-all-15 bocl0 w-full-md">
                <img src="{{about.image.url}}" alt="IMG">
            </div>
            <div class="size-w-32 p-t-43 w-full-md">
                <h3 class="txt-center txt-l-401 cl15 p-b-44">
                    {{about.title}}
                </h3>
                <p class="txt-center txt-m-115 cl6 p-b-25">
                    {{about.description|safe}}
                </p>
            </div>
        </div>
    </div>
</section>