{% load static %}
<div class="sec-testimonials bg12 p-t-120 p-b-80 how-pos3-parent how-pos4-parent">
    <div class="container">

        <div class="wrap-slick3">
            <div class="slick3">
                {% for comment in comments %}
                <div class="item-slick3">
                    <div class="flex-col-c-m">
                        <div class="layer-slick3 animated visible-false" data-appear="zoomIn" data-delay="100">
                            <div class="wrap-pic-s size-a-3 bo-3-rad-50per bocl10 of-hidden">
                                <img src="{{comment.image.url}}" alt="AVATAR">
                            </div>
                        </div>
                        <div class="layer-slick3 animated visible-false" data-appear="fadeInUp" data-delay="800">
                            <div class="flex-col-c-m p-t-33 p-b-25">
                                <span class="txt-l-105 cl3 txt-center p-b-9">
                                    {{comment.full_name}}
                                </span>
                                <span class="fs-16 cl11 txt-center">
                                    <i class="fa fa-star m-rl-1"></i>
                                    <i class="fa fa-star m-rl-1"></i>
                                    <i class="fa fa-star m-rl-1"></i>
                                    <i class="fa fa-star m-rl-1"></i>
                                    <i class="fa fa-star m-rl-1"></i>
                                </span>
                            </div>
                        </div>
                        <div class="layer-slick3 animated visible-false" data-appear="fadeInUp" data-delay="1600">
                            <p class="txt-center txt-s-104 cl6 size-w-8">{{comment.description}}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="wrap-slick3-dots p-t-50"></div>
        </div>
    </div>
</div>