<div class="col-sm-6 col-md-4 col-lg-3 p-b-75 isotope-item category-{{product.category.id}}-fill">
    <div class="block1">
        <div class="block1-bg wrap-pic-w bo-all-1 bocl12 hov3 trans-04">
            <img src="{{product.image.url}}" alt="IMG">
            <div class="block1-content flex-col-c-m ">
                <a href="{{product.get_absolute_url}}"
                    class="txt-m-103 cl3 txt-center hov-cl10 trans-04 js-name-b1 p-b-20">
                    {{product.title}}
                </a>
                    <a {% if product.link %}href="{{product.link}}"{% endif %} class="flex-c-m text-white txt-s-103 cl0 bg10 size-a-2 hov-btn2 trans-04 m-b-30 ">
                        Sifariş et
                    </a>
            </div>
            
        </div>
    </div>
</div>