# Django
Django>=4.2,<5.1

# Database
# psycopg2-binary>=2.9  # PostgreSQL için gerekirse ekle

# Media
pillow>=9.0,<11.0

# Rich Text Editor
django-ckeditor>=6.0,<7.0

# Production Server
gunicorn>=20.0,<24.0

# Environment
python-dotenv>=0.19,<2.0
# Slug generation with Unicode support
python-slugify>=6.0,<9.0