{% load static %}
<div class="sec-product bg0 p-t-145 p-b-25">
    <div class="container">
        <div class="size-a-1 flex-col-c-m p-b-48">
            <h3 class="txt-center txt-l-101 cl3 respon1">
                Məhsullar
            </h3>
        </div>
        <div class="p-b-46">
            <div class="flex-w flex-c-m filter-tope-group">
                <button class="txt-m-104 cl9 hov2 trans-04 p-rl-27 p-b-10 how-active1" data-filter="*">
                    Hamısı
                </button>
                {% for category in categories %}
                <button class="txt-m-104 cl9 hov2 trans-04 p-rl-27 p-b-10" data-filter=".category-{{category.id}}-fill">
                    {{category.title}}
                </button>
                {% endfor %}
            </div>
        </div>
        <div class="row isotope-grid">
            {% for product in products %}
            {% include "components/product/product-item.html" with product=product %}
            {% endfor %}
        </div>
    </div>
</div>